body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(imagen/binary-matrix-code-6500x3520-22626.jpg);
}
html{
    scroll-behavior: smooth;

}
.header {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: turquoise;
    
}

.barralateral {
    float: left;
    color: turquoise;
    

}
.barralateral button {
    display: block;
    width: 100%;
    padding: 47px;
    border-radius: 200px;
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: turquoise;
    
    
    
    
}
.barralateral a {
    text-decoration: none;
    

}

 .barralateral button:hover {
    text-decoration: underline;
    width: 200%;
    color: #0000ff;

 }

 img {
    border-radius: 50%;
 }

 .text {
    text-align: center;
    color: white;
 }

.text {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}