body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(imagen/binary-matrix-code-6500x3520-22626.jpg);
}

.header {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: greenyellow;
    
}

.barralateral {
    float: left;

}
.barralateral button {
    display: block;
}