body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(imagen/binary-matrix-code-6500x3520-22626.jpg);
}
html{
    scroll-behavior: smooth;

}
.header {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: turquoise;
    
}

.barralateral {
    float: left;

}
.barralateral button {
    display: block;
    width: 100%;
    padding: 47px;
    border-radius: 200px;
    background-color: turquoise;
    cursor: pointer;
    
}
.barralateral a {
    text-decoration: none;
    background-color: blue;
    width: 100%;

}

 .barralateral a:hover {
    text-decoration:underline;
 }

 .barralateral button {
    color:black ;
 }

 .imagen {
   
 }